# .NET
bin/
obj/
*.user
*.suo
*.cache
*.csproj.user
*.sln.docstates
*.dll
*.exe
*.pdb

# Visual Studio
.vs/
*.userprefs
*.pidb
*.userproperties

# JetBrains Rider
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

# OS files
.DS_Store
Thumbs.db
